@import url(960_12_col.css);
/* line 82, icones/*.png */
.icones-sprite, .icones-email, .icones-facebook, .icones-instagram, .icones-location, .icones-phone, .icones-time {
  background: url('/../images/icones-s138feba21b.png') no-repeat; }

/* line 60, C:/Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icones-email {
  background-position: 0 -110px; }

/* line 60, C:/Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icones-facebook {
  background-position: 0 -66px; }

/* line 60, C:/Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icones-instagram {
  background-position: 0 -22px; }

/* line 60, C:/Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icones-location {
  background-position: 0 -44px; }

/* line 60, C:/Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icones-phone {
  background-position: 0 0; }

/* line 60, C:/Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icones-time {
  background-position: 0 -88px; }

/* line 9, styles.scss */
body {
  margin: 0;
  padding: 0;
  background: url(/../images/bg.png) center center;
  font-family: 'Source Sans Pro', sans-serif; }

/* line 16, styles.scss */
a img {
  border: none; }

/* line 21, styles.scss */
#centraliza {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  font-size: 20px;
  color: #FFF;
  margin-top: -280px; }
  /* line 30, styles.scss */
  #centraliza h1 {
    margin: 0px;
    margin-top: 30px;
    padding: 15px 0;
    width: 100%;
    background-color: #3fb1dc;
    font-size: 30px;
    font-weight: 400; }
  /* line 40, styles.scss */
  #centraliza #box {
    background-color: #3a7fbc;
    padding: 30px 0px; }
  /* line 45, styles.scss */
  #centraliza .container {
    width: 825px;
    margin: 0 auto;
    text-align: left; }
  /* line 51, styles.scss */
  #centraliza p {
    margin: 10px 0; }
    /* line 54, styles.scss */
    #centraliza p a {
      color: #FFF;
      text-decoration: none; }
      /* line 58, styles.scss */
      #centraliza p a:hover {
        text-decoration: underline; }
  /* line 64, styles.scss */
  #centraliza i {
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: -7px; }
  /* line 71, styles.scss */
  #centraliza .facebook {
    float: right;
    background-color: #FFF; }
